@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::before,
.clearfix::after{
  display:block;
  clear:both;
  content:"";
}
/*.wrapper {
  height: 500px;
  width: 900px;
  background-color: #eff3f4;
}*/
.contents {
  width: 900px;
  padding: 20px;
  background-color: #eff3f4;
  margin: 0 auto;
}
.contents-box {
  float: left;
  background-color: #3274ae;
  width: 230px;
  padding: 20px;
  margin-right: 20px;
}
.contents-box:last-child {
  margin-right: 0;
}
.contents-box-text {
  background-color: #eaf4ff;
  padding: 20px;
  border: solid 10px #022336;
}