@charset "UTF-8";
.btn-small {
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  line-height: 26px;
}
.btn-middle {
  border-radius: 3px;
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  line-height: 32px;
}
.btn-large {
  border-radius: 3px;
  display: inline-block;
  font-size: 24px;
  border-radius: 7px;
  padding: 0 25px;
  line-height: 38px;
}
.title--sub-common {
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
}
.title--sub-error{
  background-color: #ff4081;
  color: #fff;
  cursor: pointer;
}
.title--sub-disabled{
  background-color: #e5e5e5;
  color: #fff;
}
.title--sub-shadow{
  background-color: #fff;
  color: #222;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
}
.title--sub-middle-common {
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
}
.title--sub-middle-error {
  background-color: #ff4081;
  color: #fff;
  cursor: pointer;
}
.title--sub-middle-disabled {
  background-color: #e5e5e5;
  color: #fff;
}
.title--sub-middle-shadow {
  background-color: #fff;
  color: #222;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
}
.title--sub-large-common {
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
}

.title--sub-large-error {
  background-color: #ff4081;
  color: #fff;
  cursor: pointer;
}
.title--sub-large-disabled {
  background-color: #e5e5e5;
  color: #fff;
}

.title--sub-large-shadow {
  background-color: #fff;
  color: #222;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
}
.btn {
  margin-left: 10px;
}
.q6-sub {
  margin-top: 10px;
}