@charset "UTF-8";
.contents {
  height: 500px;
  width: 500px;
  background-color: #ecf1f2;
  position: relative;
  margin: 0 auto;
}
.contents-box{
  height: 100px;
  width: 100px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
}
.navy {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}
.yellow {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 1;
}
.blue {
  background-color: #7084de;
  z-index: 2;
  left: 280px;
  top: 120px;
}
.skyblue {
  background-color: #d0ecea;
  z-index: 3;
  left: 360px;
  top: 200px;
}
.brown {
  background-color: #8b7a5e;
  z-index: 4;
  left: 280px;
  top: 280px;
}
.green {
  background-color: #9fd6d2;
  z-index: 5;
  left: 200px;
  bottom: 40px;
}
.white {
  background-color: #fffee4;
  z-index: 6;
  left: 120px;
  bottom: 120px;
}
.orange {
  background-color: #deae70;
  z-index: 7;
  left: 40px;
  top: 200px;
}
.pink {
  background-color: #de70cf;
  z-index: 8;
  left: 120px;
  top: 120px;
}
.pink:after {
  background-color: #ffefd3;
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  content: "";
}
